// Specific CSS for your home-page
p{
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  margin-top: 5em;
  color: #3C454B;
}

.rectangle {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  margin-top: 6em;
}

.benefits i {
  font-size: 70px;
  color: #FF8080;
}

.benefits {
  margin-top: 6em;
  margin-bottom: 6em;
}

.reduced {
  width: 25em;
  height: auto;
}

.bottom-button {
  padding: 16px 100px;
  text-decoration: none;
  background-color: #8CFF85;
  color: black;
  font-size: 25px;
  border-radius: 6px;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);
  transition: all 0.5s;
}

.bottom-button:hover {
  background-color: #3C454B;
  color: white;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);  display: flex;
}
