<div class="container-fluid">
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram link-style"></i></a>
          <a href="#"><i class="fab fa-facebook link-style"></i></a>
          <a href="#"><i class="fab fa-twitter link-style"></i></a>
          <a href="#"><i class="fab fa-linkedin link-style"></i></a>
      </div>
    </div>
