
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
    <div class="banner-description">
      <h1 ><strong>ATHLETES MANIA</strong></h1>
      <p><em>Sports like never</em></p>
    </div>
      <%= link_to 'Our Athletes', athletes_path, class: "banner-button" %>
    <%= video_tag 'background_video.mp4', muted: :muted, autoplay: :autoplay, loop: :loop, class: "banner-video"  %>
</div>


<div class="container col-8">
  <h2 class="text-center my-5"> <strong>The best athletes in all sports for awesome experiences ⚡️</strong></h2>
  <div data-controller="scroll" data-action="scroll@window->scroll#downScroll" id="carrousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.topmercato.com/wp-content/uploads/2022/10/Karim-Benzema-Real-Madrid.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Karim Benzema</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://i.f1g.fr/media/sport24/1200x630_crop/var/plain_site/storage/images/equitation/actualites/penelope-leprevost-je-recherche-le-parcours-parfait-et-je-ne-lache-rien-964389/26017156-1-fre-FR/Penelope-Leprevost-Je-recherche-le-parcours-parfait-et-je-ne-lache-rien.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Pénélope Leprévost</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://www.lequipe.fr/_medias/img-photo-jpg/lebron-james-manquera-au-moins-un-match-gary-a-vasquez-usa-today-sports/1500000001710030/0:0,1996:1331-828-552-75/88e8c.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Lebron James</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://mf.b37mrtl.ru/rbthmedia/images/2020.10/original/5f97d82015e9f97eb141e7e1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Khabib Nurmagomedov</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1644x320:1646x318)/origin-imgresizer.eurosport.com/2022/11/06/3485114-71049448-2560-1440.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Caroline Garcia</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="rectangle" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  </div>

  <div class="benefits d-flex justify-content-around">
    <div class="discover reduced discover me-2 text-center">
      <i class="fa-solid fa-magnifying-glass"></i>
      <h4 class="my-4">Find the perfect athlete</h4>
      <p>Browse through our website, athlete all around the world are available at any time. Basketball? No problem just pay for Lebron James!</p>
    </div>
    <div class="dates reduced me-2 text-center">
      <i class="fa-sharp fa-solid fa-circle-check"></i>
      <h4 class="my-4">Plan a game or session</h4>
      <p>Check the athlete availabilities, send a request and you will get a response shortly to confirm the session. There is always a athlete for you</p>
    </div>
    <div class="fun reduced text-center">
      <i class="fa-solid fa-face-laugh-wink"></i>
      <h4 class="my-4">Enjoy with the best!</h4>
      <p>Our clients are astonished be how fast you can improve with a pro athlete, in addition it's great fun! Rate your session after</p>
    </div>
  </div>

  <div class="rectangle" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  </div>

<div class="bottom-button-part d-flex justify-content-around my-5">
      <%= link_to 'Our Athletes', athletes_path, class: "bottom-button" %>
</div>

</div>
