<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as2.ftcdn.net/v2/jpg/02/05/42/15/1000_F_205421550_V97HX8CA4wfPSAM0ixHYuGEeDshBvnlH.jpg);">
  <div class="container">
    <h1><strong>ATHLETES MANIA</strong></h1>
    <p>Sports like you've never done before!</p>
  </div>
</div>
<div class="carrousel" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgb(239, 239, 239))">
  <h2> <strong>Discover our athletes</strong></h2>
  <div id="carrousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.topmercato.com/wp-content/uploads/2022/10/Karim-Benzema-Real-Madrid.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Karim Benzema</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://i.f1g.fr/media/sport24/1200x630_crop/var/plain_site/storage/images/equitation/actualites/penelope-leprevost-je-recherche-le-parcours-parfait-et-je-ne-lache-rien-964389/26017156-1-fre-FR/Penelope-Leprevost-Je-recherche-le-parcours-parfait-et-je-ne-lache-rien.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Pénélope Leprévost</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://www.lequipe.fr/_medias/img-photo-jpg/lebron-james-manquera-au-moins-un-match-gary-a-vasquez-usa-today-sports/1500000001710030/0:0,1996:1331-828-552-75/88e8c.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Lebron James</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://mf.b37mrtl.ru/rbthmedia/images/2020.10/original/5f97d82015e9f97eb141e7e1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Khabib Nurmagomedov</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1644x320:1646x318)/origin-imgresizer.eurosport.com/2022/11/06/3485114-71049448-2560-1440.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Caroline Garcia</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <%= link_to 'See all arhletes', athletes_path, class: "btn btn-flat btn-dark" %>

  <h2><strong>Description</strong></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum diam placerat, pulvinar est et, facilisis nulla.
  Nam auctor, massa in vehicula mollis, turpis nisi hendrerit ipsum, at rutrum ante eros vel lectus. Etiam dignissim, arcu vitae venenatis tempus, neque erat tempus orci, eget scelerisque leo ligula ut elit.
  Morbi facilisis erat ut ipsum semper, non lobortis arcu bibendum. Vestibulum id purus metus. In hac habitasse platea dictumst. Suspendisse laoreet, lorem at elementum suscipit, lectus ipsum posuere nisi, et vehicula est sem quis ex.
  Suspendisse gravida consequat risus, quis convallis sem rutrum vel. Integer condimentum urna et est tincidunt, non iaculis tellus laoreet.
  Proin et justo eget nibh viverra aliquam. Donec imperdiet scelerisque ligula, non faucibus mauris vestibulum non. Etiam commodo laoreet eleifend.
  Quisque sagittis lectus sit amet aliquam fermentum. Integer libero eros, pharetra sed orci id, fermentum pretium nunc. Phasellus euismod quam vel aliquam lacinia.
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

</div>
