



.banner {
  z-index: 777;
  text-align: center;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-video {
  z-index: -100;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover ;
}

.banner-description {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  z-index: 100;
  margin-bottom: 10px;
  height: 20vh;


}

.banner-button {
  margin-top: 4em;
  padding: 16px 80px;
  text-decoration: none;
  background-color: #FF616B;
  color: white;
  font-size: 21px;
  border-radius: 6px;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);
  transition: all 0.5s;
}

.banner-button:hover {
  background-color: #ef313e;
  color: white;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);

}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h2 {
  color: white;
  text-align: start;
}
