.btn-home {
  height: 100%;
  border-radius: 4px;
  transition-duration: 0.4s;
  background: #29226c;
  color: white;
  border-radius: 4px;
  min-width: 60px;
  position: relative;
  left:0cm;
}

.btn-home:hover {
  background: #2A3990;
  color: white;
}
