.btn-home {
  padding: 5px 15px;
  margin: -7px;
  height: 100%;
  border: 1px solid #ebebeb;
  font-weight: lighter;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transition-duration: 0.4s;
  background: rgb(150, 150, 150);
  color: white;
  min-width: 60px;
  position: relative;
  left:0cm;
}

.btn-home:hover {
  background: rgb(82, 89, 94);
  color: white;
}

.btn {
 margin-top: 20px;
}

.btn-booking {
  background: rgb(150, 150, 150);
  border: 1px solid #ebebeb;
  border-radius: 5px;
  transition-duration: 0.4s;
  color: white;
  font-weight: lighter;
  padding: 10px;
  width: 99%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn-booking:hover {
  background: rgb(82, 89, 94);
  color: white;
  border: 1px solid #ebebeb;
}

.btn-book {
  width: 100%;
  background-color: #3C454B;
}

.btn-edit {
  text-decoration: none;
  color:#3C454B;
  transition: all 0.5s;
}

.btn-edit:hover {
  color: #FF8080;
}
