#carrousel {
  width: 800px;
  height: 400px;
  margin: auto;
}

.carousel-item {
  width: 100%;
  height: 400px;
  img {
    max-width: 100%;
    height: auto;
    border: #FF8080 solid 2px;
  }
}

.carrousel {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  text-align: center;
}

.carrousel h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  padding-bottom: 10px;
  text-align: start;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 30px;
}

.carrousel p {
  text-align: justify;
}

.carrousel-shadow-off {
  box-shadow: 0 0 14px rgba(0,0,0,0.3);
  transition : box-shadow 1.5s ease-in-out;
}

.carrousel-shadow-on {
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);  display: flex;
  transition : box-shadow 1.5s ease-in-out;
}
