
.card {
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  margin: 20px;
  width: 300px;
  transition: 1s;
}
.card:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);  display: flex;
}

.card-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  list-style: none;
}

.card-body h5 li {
  font-size: 20px;
}

.card-product {
  overflow: hidden;
  // height: 300px;
  width: 360px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  transition: 1s;
}

.card-product:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);  display: flex;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-body li {
  justify-content: space-between;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.card-product img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
  position: relative;
}

.card-product-infos h1{
text-align: center;
}

.card-product-infos h2{
  position:absolute;
  right: 0px;
  margin: 10px;
  bottom: 0px;
  border-radius: 5%;
  padding: 10px;
  color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) ;
  }

.athletes-list a {
  text-decoration: none!important;
  color: black!important;
  margin-bottom: 1em;
}

.card-product-infos h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.average {
  position:absolute;
  top: -300px;
  right: 0px;
  margin: 10px;
  padding: 5px 10px;
  border: solid 1px white;
  border-radius: 5%;
  background-color: white;
}

li {
  list-style: none;
}

.fa-sharp {
  color: red;
}

.btn-athlete-new {
  width: 250px;
}

.title_plus_create {
  justify-content: space-between;
}

#title-dashboard {
  margin: 0px;
}

#h3 {
  margin-left: 10px;
}
