.form-home {
  box-sizing:border-box;
  // position: absolute;
  // justify-content: space-around;
}

.form-input {
  position: relative;
  border: 1px solid #ebebeb;
  font-weight: lighter;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  padding: 5px 15px;
}

.form-btn {
  position: relative;
  left: 100px;
}

#new_user {
  margin-top: 40px;
}

h2 {
  margin-top: 40px;
}
