.navbar {
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 5000;
  background-color: white;
  .nav-link {
    color: #3C454B;
  }
  .nav-link:hover {
    color: 969696;
  }
}

#navbarhome {
  padding: 13px;
  margin-bottom: -66px;
  background-color: rgba(0, 0, 0, 0.0);
  position: sticky;
  .nav-link {
    color: white;
    opacity: 0.7;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .nav-item {
  padding-right: 3px;
}

.container-fluid {
  position: relative;
}

.form-spacing {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.navbar .btn-home {
  background-color: #3C454B;
}

.navbar .btn-home:hover {
  background-color: #969696;
}


.navbar .navbar-brand img {
  width: 140px;
  height: 100%;
}

.navbar-white {
  background-color: white !important;
  transition: all 0.5s ease-in-out;

  .nav-link {
    color: #3C454B !important;
    opacity: 0.7;
  }
  .nav-link:hover {
    color: #FF616B !important;
    }
}

.navbar-white .avatar {
  -webkit-box-shadow: 1px 1px 10px 1px #FF8080, -1px 1px 10px 1px #FFE488, -1px -1px 10px 1px #8CFF85, 1px -1px 10px 1px #80C7FF, 1px 1px 10px 1px #E488FF, -1px 1px 10px 1px #FF616B, -1px -1px 10px 1px #8E5CFF, 1px 1px 10px 1px rgba(0,0,0,0);
  box-shadow: 1px 1px 10px 1px #FF8080, -1px 1px 10px 1px #FFE488, -1px -1px 10px 1px #8CFF85, 10px -1px 10px 1px #80C7FF, 1px 1px 10px 1px #E488FF, -1px 1px 10px 1px #FF616B, -1px -1px 10px 1px #8E5CFF, 1px 1px 10px 1px rgba(0,0,0,0);
}
