.review-content {
  background: white;
  padding: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 20px;
}

.review-content p {
  flex-grow: 1;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 0;
}
