.card-show {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  position: relative;
}

.details-box {
  margin: 10px 0px 10px 0px ;
}

.show-picture {
  border-radius: 5px;
}

.card-show p {
  margin-bottom: 2px;
  padding-left: 0px;

}

.picture-details {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 5px 8px;
}

.price-box {
  position:absolute;
  right: 420px;
  margin: 10px;
  bottom: 46px;
  border-radius: 5%;
  padding: 10px;
  color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) ;
  p {
  padding-right: 0px;
  }
}
.booking-box {
height: 89%;
}


.booking-box h2 {
  margin-left: 0;
}

.booking-price {
  font-size: 2rem;
  color: #3C454B;
  display: flex;
  justify-content: center;
}
