<div class="container">
  <h1>Create a review</h1>

  <%= simple_form_for[@review, @booking, @athlete] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
